footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
  z-index: 1;
  display: block;
  width: 100%;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

footer a{
  text-decoration: none;
  transition: all 0.3s;
}

footer a:visited{
  color: #a7a7a7;
}

footer a:hover{
  color: #ffffff;
}


.footer-main-container {
  display: flex;
  gap: 2%;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}

.footer-main-container>div {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.first-column {
  width: 31%;
  min-width: 290px;
}

.second-column {
  width: 16%;
  min-width: 183px;
}

.third-column {
  width: 16%;
  min-width: 183px;
}

.forth-column {
  width: 31%;
  min-width: 290px;
}

.second-column li,
.third-column li {
  margin-bottom: 5px;
}

#heading h3 {
  line-height: 2;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: #ffffff;
}

#readme {
  text-align: justify;
  font-weight: 300;
  letter-spacing: 1px;
  padding-right: 10px;
  max-width: 600px;
  line-height: 1.7;
}

footer input,
footer button {
  width: 100%;
  border-radius: 7px;
  height: 60px;
  margin-bottom: 10px;
}

footer input {
  padding: 5px 5px 0 25px;
  font-size: 18px;
}

footer input::placeholder {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
}

footer button {
  font-size: 18px;
  background-color: #B8860B;
  color: #ffffff;
  transition: all 0.3s;
}

footer button:hover {
  background-color: #D4AF37;
  color: #000000;
  cursor: pointer;
}

#social-logo {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin-top: 15px;
}

.social-logo i {
  font-style: normal;
  display: inline-flex;

}

.fa-brands {
  font-size: 2.3em;
  transition: all 0.3s;
}

.fa-brands {
  cursor: pointer;
}

.fa-youtube-square:hover {
  color: rgb(198, 0, 0);
}

.fa-whatsapp-square:hover {
  color: #44c153;
}

.fa-square-github:hover {
  color: #a758b7;
}

.fa-square-x-twitter:hover {
  color: #ffffff;
}

.fa-facebook-square:hover {
  color: #529dff;
}

#strip-footer{
  height: 65px;
  padding: 10px 40px 5px 25px;
  background-color: #18191c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#strip-footer ul{
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.letsdesign:hover{
  color: #ff7700;
  cursor:pointer;

}

/* **************** Media queries  **************** Media queries */
 @media (max-width: 1240px) {
  .first-column {
    width: 45%;
    min-width: 290px;
    flex-grow: 1;
  }

  .second-column {
    width: 45%;
    min-width: 183px;
    flex-grow: 1;
  }

  .third-column {
    width: 45%;
    min-width: 183px;
    flex-grow: 1;
  }

  .forth-column {
    width: 45%;
    min-width: 290px;
    flex-grow: 1;
  }

  .footer-main-container {
    gap: 4%;
  }

}
