*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 4000px;
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

#main-container{
    display: block;
    min-width: 800px;
    width: 100%;
    min-height: min-content;
}